{% extends 'base.html' %}
    {% block title %}
    Home
    {% endblock %}
{% block body %}
{% load static %}
<style>
  body{
    background-image: url("{% static 'bg1.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    margin: 0;
    height: 100vh;
    }
</style>
<div class="container-fluid p-5">
    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#dailyreport">
        Add Daily Report For Employees
      </button>
    </div>
<div class="row">
    <div class="col-sm-4">
      <div class="card text-bg-dark mt-3">
        <div class="card-body d-flex justify-content-between">
          <h5 class="card-title text-center mt-2">Employees</h5>
          <a href="/emp/list/" class="btn btn-outline-dark text-light">{{emp.count}}</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-bg-dark mt-3">
          <div class="card-body d-flex justify-content-between">
            <h5 class="card-title text-center mt-2">Departments</h5>
            <a href="/dandp/list/" class="btn btn-outline-dark text-light">{{department.count}}</a>
          </div>
        </div>
      </div>
    <div class="col-sm-4">
        <div class="card text-bg-dark mt-3">
          <div class="card-body d-flex justify-content-between">
            <h5 class="card-title text-center mt-2">Leaves</h5>
            <a href="/leaves/" class="btn btn-outline-dark text-light">{{leave.count}}</a>
          </div>
        </div>
    </div>
    <div class="modal fade" id="dailyreport" tabindex="-1" aria-labelledby="dailyreportLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="dailyreportLabel">Add Leave</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form method="post">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="employee">Employee :</label>
                    <select name="emp_id" class="form-select">
                      {% for emp in emp %}
                      <option value="{{emp.id}}" class="form-contol">{{emp.name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="mb-3">
                      <label for="start_time">Start Time:</label>
                      <input type="time" name="start_time" class="form-control">
                  </div>
                  <div class="mb-3">
                      <label for="end_time">End Time:</label>
                      <input type="time" name="end_time" class="form-control">
                  </div>
                  <div class="mb-3">
                    <label for="employee">Status :</label>
                    <select name="status" class="form-select">
                      <option value="True" class="form-control">Active</option>
                      <option value="False" class="form-control">Inactive</option>
                    </select>
                  </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <input type="submit" value="Submit" class="btn btn-danger">
          </div>
              </form>            
        </div>
      </div>
    </div>
</div><hr>
  <h4 class="text-center text-light mt-3 mb-2">Attendance</h4>
  <table class="table table-bordered table-hover table-dark">
    <thead>
      <tr>
        <th class="mx-auto">Date</th>
        <th class="mx-auto">Employee</th>
        <th class="mx-auto">Start Time</th>
        <th class="mx-auto">End Time</th>
        <th class="mx-auto">Status</th>
        <th class="mx-auto">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for atd in attendance %}
      <tr>
        <td>{{atd.date}}</td>
        <td>{{atd.employee.name}}</td>
        <td>{{atd.start_time}}</td>
        <td>{{atd.end_time}}</td>
        {% if atd.status == True %}
          <td class="text-success"><b>Active</b></td>
        {% endif %}
        {% if atd.status == False %}
          <td class="text-danger"><b>Inactive</b></td>
        {% endif %}
        <td>
          <a href="/attd/del/{{atd.id}}/" class="btn btn-sm btn-outline-danger text-light">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}